*{
    margin: 0px;
    padding: 0px;
  }

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.site{
width: 910px;
height: 1310px;
margin: 0 auto;
background-color: white;
}
.contacts{
    font:18px Arial;
    margin: 8px 0px 10px 7px;
    float: left;
    color: gray;
}
.contacts img{
    float: left;
}
.contacts span{
    display: inline-block;
    padding: 10px 0px 0px 5px;
}

.login{
    float: right;
    width: 494px;
    height: 26px;
    margin: 13px 18px 0px 10px;
    background: #1a5879;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}
.login img{
    float: left;
    padding: 6px 1px 1px 7px;
    
}
.login input{
    margin-top: 3px;
    margin-left: 4px;
    width: 110px;    
}

header input[type="submit"]{
    cursor: pointer;
    color: white;
    width: 30px;
    height: 13px;
    padding-right: 5px;
    border: none;
    border-right: 1px solid white;
    background: #1a5879;
    font: 12px Arial white;
}
.nav input[type="submit"]{
    cursor: pointer;
    width: 13px;
    height: 10px;
    border: none;
    background: none;
    
}
.login a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
#forgot{
    text-decoration: underline;
    color: #afb2b5;
    margin-left: 20px;
}
.nav{
    float: right;
    height: 20px;
    width: 66px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid grey;
    background: white;
    padding: 0px 4px 0px 4px;
    margin: 15px 8px 0px 0px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.75);
   }
#header{
margin: 0px auto;
display:block;
}

.menu{
  	background-color: #191b1e;
    width: 909px;
    height: 30px; 
    border-radius: 5px;
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
}


 ul.navigation {
    padding-left: 85px;
    margin: 7px auto;
    list-style: none;
}
ul.navigation  >li {
   padding-top: 3px;
   padding-left: 5px;
    float: left;
	list-style: none;
	position: relative;
}

ul.navigation >li>a {
    padding: 5px 15px;
  	color: white;
	display: block;
	text-decoration: none;
    font-size: 13px;
}

ul.navigation >li>a:hover{
     padding: 5px 15px;
    cursor: pointer;
    background: #124569;
    border-radius: 15px;
    text-align: center;
}

ul.cart{
      float: right;
    margin-top: 2px;
    margin-right: 28px;
    list-style: none;
        font-size: 13px;
}
ul.cart>li {
    color: grey;
   padding-top: 5px;
   padding-left: 5px;
    float: left;
	list-style: none;
	position: relative;
}
#summ{
    color: #0e5789;
}

.fon {
width: 100%;
overflow: hidden;
}

.leftColumn {
 width: 21%;
 float: left;    
 text-align: center;
 padding-bottom: 20000px;
 margin-bottom: -20000px;
  }
.tires_top{
    color: #114165;
    padding: 7px 29px 8px 0px;
    text-align: right;
    margin: 18px 0px 12px 0px;
    background: url(../img/ico.png);
    background-repeat: no-repeat;
    font: 12px arial;
 }
.tires{
    color: #206988;
    padding: 8px 75px 8px 0px;
    text-align: center;
    background: url(../img/ul.png);
    background-repeat: no-repeat;
    font-size: 14px;
}
.left_menu{
    padding: 0px 32px;
    list-style-image: url(../img/liststyle.png);
}
.left_menu li{
    padding: 5px 5px;
}

.left_menu a{
    color: #465961;
}
.left_menu a:hover{
    font-weight: bold;
    font-style: italic;
    color: #0c3256;
    cursor: pointer;
    text-decoration: underline;
}
.centerColumn {
 margin-top: 19px;
 width: 58%;
 height: 627px;
 float: left;
 padding-bottom: 20000px;
 margin-bottom: -20000px;
 text-align: center;
 background: linear-gradient(180deg, #e5e7e8, #93a7b0);
  }

.grow:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.shop{
    margin-top: 10px;
    position: relative;
    left: 5px;
    top: -6px;
    float: left;
    width: 33%;
    list-style: none;
}
.section_forms {
  height: 134px;
  display: inline-block;
  margin: 0 auto;
  margin-left: -3px;
}


.search_by_car,
.search_tire,
.search_disk {
  height: 134px;
  border-radius: 17px;
  border: 1px solid #B0B0B1;
  box-shadow: 2px 3px 5px -1px rgba(176,176,177,1);
  display: inline-block;
  float: left;
  margin-top: 10px;
}

.form_head {
  color: #154467;
  font: 10px "Arial Black", sans-serif;
  margin-left: 15px;
}

.form_head .by_car {
  font-size: 12px;
  margin-left: 70px;
  margin-right: 75px;
}

.search_by_car {
  width: 413px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}


.search_by_car_right {
  float: right;
  margin-right: 15px;
  margin-top: 3px;
}

.search_by_car_left {
  float: left;
  margin-left: 15px;
  margin-top: 3px;
}

.search_tire_div {
  margin-top: 3px;
  margin-left: 15px;
}

.search_tire_div label {
  display: inline-block;
  width: 40px;
}

.search_tire_div input [type=checkbox] {
  float: left;

}

.search_by_car_left label,
.search_by_car_right label {
  display: inline-block;
  width: 73px;
}

.search_by_car label,
.search_tire label {
  font: 10px Arial, sans-serif;
  color: #000;
}

.search_disk label {
  font: 10px "Lucida Sans Unicode", sans-serif;
  width: 87px;
  display: inline-block;
  line-height: 1;
}

.search_by_car label span {
  color: #77858b;
}

.search_disk label span {
  color: #77858b;
  font-size: 9px;
}

.search_by_car select {
  width: 100px;
  border: 2px inset #a9a9a9;
  border-bottom: none;

}

.search_tire select {
  border: 2px inset #a9a9a9;
  border-bottom: none;
}

.search_disk select {
  border: 2px inset #a9a9a9;
  border-bottom: none;
}

#year_production,
#year_production1 {
  width: 57px;
  vertical-align: top;
  margin-top: 1px;
}

option {
  font: 10px Arial, sans-serif;
}

.search_tire {
  width: 192px;
  border: 1px solid #B0B0B1;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}

.search_tire .left,
.search_disk .left {
  font-size: 12px;
  margin-left: -5px;
  display: inline-block;
  width: 105px;
  margin-right: 0;
}

.form_head {
  display: inline-block;
  margin-right: 0;
}


.search_button {
  text-align: right;
  margin-right: 20px;
}

.search_button a {
  font: italic 14px Arial, sans-serif;
  color: #154467;
  line-height: 2;
}

.search_button a {
  line-height: 1;
}
.search_disk .search_button a {
  margin-top: 5px;
  line-height: 2;
}

.search_by_car .search_button a {
  line-height: 2;
}

#size1,
#size2 {
  width: 51px;
}

#radius {
  width: 43px;
  vertical-align: top;
  margin-top: 1px;
}

.right_R {
  text-align: right;
}

#winter,
#both {
  margin-left: 44px;
  margin-top: 0;
}


.search_disk {
  width: 267px;
  border: 1px solid #B0B0B1;
  display: inline-block;
  margin-left: 5px;
}

.search_disk_right {
  float: right;
  margin-right: 5px;
  margin-top: -12px;
  margin-left: 3px;
}

.search_disk_right label {
  display: block;
}

.search_disk_left {
  float: left;
  margin-left: 15px;
  margin-top: 2px;
  padding-right: 6px;
  border-right: 1px solid #BDC6CA;
}

.search_disk_left label {
  display: inline-block;
  width: 84px;
}

.search_disk_left select {
  margin-left: -5px;
}


#disk_diameter {
  width: 57px;
}

#number_hole {
  width: 49px;
}
#hole_diameter {
  margin-top: 10px;
  width: 57px;
}

.form_head .disk {
  display: inline-block;
  margin-right: 10px;
  width: 110px;
}
.centerColumn span{
    display: block;
    color: #206988;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 9px;
    left: -3px;
}
.name{
    font-size: 14px;
    margin-right: 3px;
    margin-top: 6px;
}
.price{
    margin: -4px 1px 11px 14px;
    font-weight: bold;
    color: #206988;
    font-size: 18px;
    font-style: italic;
}
#balance{
    margin: 8px -6px 0px -6px;
}
.rightColumn {
text-align: center;
width: 20%;
float: right;
padding-bottom: 20000px;
margin-bottom: -20000px;
} 

.checkbox{
    color:#213a4d;
    padding-right: 65px;
    margin: 10px 1px;
    font-size: 14px;
}
.checkbox span{
    background-image: url(../img/check.png);
     box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}
.checkbox input, label{
    cursor: pointer;
}
.submit{
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #175173;
    border-radius: 10px;
    background: #1c5e7e;
    color: white;
    padding: 4px 11px;
    margin-right: 53px;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.brand{
     margin: 13px auto;
}
.brand ul{
    margin: 20px 0px 10px 100px;
    display: inline-block;
     list-style: none;
}
.brand li{
    padding: 0px 10px;
    float: left;
    }
.brand a{
    font-size: 10px;
    display: block;
    text-align: center;
    padding: 0px 5px 0px 10px;
	text-decoration: none;
    color: white;
    border-right: 1px solid white;
}
.brand a:hover{
    cursor: pointer;
    color: #52abcb;
}

footer{
    margin: 0 auto;
    background: #213a4d;
    width: 910px;
    height: 100px;
    
}
footer ul{
    margin: 10px 0px 0px 300px;
    text-align: center;
    display: inline-block;
     list-style: none;
}
footer li{
    float: left;
    }
footer a{
    font-size: 10px;
    display: block;
    text-align: center;
    padding: 0px 5px 0px 10px;
	text-decoration: none;
    color: white;
    border-right: 1px solid white;
}
footer a:hover{
    cursor: pointer;
    color: #52abcb;
}

.copy{
    margin-top: 10px;
    font-size: 10px;
    color: orange;
    text-align: center;
}

#tires_right{
    margin: 16px 0px 12px -1px;
    color: #114165;
    padding: 6px 61px 7px 0px;
    text-align: center;
    background: url(../img/ico.png);
    background-repeat: no-repeat;
    font-size: 14px;
    }